@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Ubuntu, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	--sidebar-width: 17rem;
	--navbar-height: 3.5rem;

	--content-wrapper-additional-x-margin: 2rem;
	--content-wrapper-additional-y-margin: 1.5rem;
}

body {
    background: #c5c5c5;
}

.app-sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    position: fixed;
    left: 0;
    top: var(--navbar-height);
}

.app-navbar {
    height: var(--navbar-height); 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

.app-navbar .logo-wrapper {
    height: var(--navbar-height);
    width: var(--sidebar-width);
}

.nav-link { @apply flex space-x-4 pl-10 py-4 bg-gray-300 text-gray-900; }
.active-nav-link { @apply bg-green-600 text-white; }

.content-wrapper {
    margin-left: calc(var(--sidebar-width) + var(--content-wrapper-additional-x-margin)); 
    margin-right: calc(var(--content-wrapper-additional-x-margin)); 
    margin-top: calc(var(--navbar-height) + var(--content-wrapper-additional-x-margin)); 
}


.app-canvas-control {
    position: fixed;
    top: var(--navbar-height);
    right: 0;
    width:var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
}

.app-canvas { 
    margin: calc(var(--navbar-height) + var(--content-wrapper-additional-x-margin)) auto; 
}

.app-canvas.preview-mode {
    margin: 0 auto;
    transform: scale(0.65);
    transform-origin: 50% 10%;
}

@media print {
    .app-canvas-control, .app-sidebar, .app-navbar {
        @apply print:hidden;
    }

    .app-canvas {
        @apply w-auto h-auto;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
