@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	--sidebar-width: 17rem;
	--navbar-height: 3.5rem;
}

.app-sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
}

.app-navbar {
    height: var(--navbar-height);
}

.app-navbar .logo-wrapper {
    height: var(--navbar-height);
    width: var(--sidebar-width);
}
